/* Reset de Estilos para Limpar Padrões do Navegador */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    background-color: whitesmoke;
}

img {
    width: 150px;
    height: 150px;
    max-width: 100%;
}

/* Estilo do Header */
header {
    background-color: whitesmoke;
    color: rgb(70, 70, 70);
    padding: 8px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

/* Estilo do Conteúdo */
.section {
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
}

.product {
    max-width: 200px;
    flex-wrap: wrap;
}

button {
    color: #333;
}

/* Estilo do Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
